body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
}

a {
    color: #007bff;
}

a:hover {
    color: white;
}

a:visited {
    color: purple;
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #ccff98cc;
}
nav ul {
    list-style-type:circle;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
    text-align: center;
}
.odkazy{
    font-size: 30px;
}
footer{
    text-align: right;
}