body {
    background-color: #ffffff;
    color: #272626;
    font-family: Arial, sans-serif;
}

a {
    color: #0a3461;
}

a:hover {
    color: grey;
}

a:visited {
    color: rgb(58, 0, 58);
}

h1, h2, h3 {
    font-family: "Times New Roman", Times, serif;
}

header, footer {
    text-align: center;
    padding: 20 px;
    background-color: #ccff98cc;
}
nav ul {
    list-style-type:circle;
    padding: 0;
}

nav ul li {
    margin-right: 10 px;
    text-align: center;
}
.odkazy{
    font-size: 30 px;
}
footer{
    text-align: right;
}
